<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome!</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../Static/css/main.css" />
    <link rel="stylesheet" href="../Static/css/frontpage.css" />
  </head>
  <body>
    <div id="header"></div>
    <div id="centerdiv">
      <div>
        <center>
          <img src="../Static/img/logo.png" alt="" id="logo"/>
        </center>
      </div>
      <div id="buttonsdiv">
        <center>
            <h3>
                Welcome. Create a new account!
            </h3>
          <button id="signup" class="btn btn-info">
            Sign Up
          </button><br>
          <h3>
              Already registered? Login now!
          </h3>
          <button id="login" class="btn btn-primary">
            Log In
          </button>
        </center>
      </div>
    </div>
  </body>
</html>
