<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="../Static/css/main.css" /> -->
    <link rel="stylesheet" href="../Static/css/homepage.css" />
  </head>
  <body>
    <div id="header">
      <img id="logo" src="../Static/img/logo.png" alt="" />
    </div>

    <div class="container">
      <div class="row no-gutters">
        <div class="col-2">
          <div class="filters">
            <div class="samplefilter">
              <h4 class="filtername">
                Brand
              </h4>
            </div>
            <div class="samplefilter">
              <h4 class="filtername">
                Price
              </h4>
              <ul></ul>
            </div>
            <div class="samplefilter">
              <h4 class="filtername">
                Discount Range
              </h4>
              <ul></ul>
            </div>
          </div>
        </div>
        <div class="col-10">
          <div class="content">
            <div class="row">
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                    class="card-img-top"
                    src="../Static/img/watch.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Men's Watch</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                    class="card-img-top"
                    src="../Static/img/top.jpeg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Women's Top</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                    class="card-img-top"
                    src="../Static/img/jeans.jpeg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Men's Jeans</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                    class="card-img-top"
                    src="../Static/img/bag.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Hand Bag</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                    class="card-img-top"
                    src="../Static/img/bedsheet.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Double Bedsheet</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                  <img
                  class="card-img-top"
                  src="../Static/img/shoes.jpg"
                  alt="Card image cap"
                />
                  <div class="card-body">
                    <h5 class="card-title">Sports Shoes</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add to Wishlist</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
